* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    background-color: #05171E;
    color: white;
    overflow-x: hidden;
    
}

header {
    background-color: #0A2E3D;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px;
}

.DAheader {
    font-size: 35px;
    font-weight: bold;
    color: #ba2b2b;
}
@media (max-width: 600px) {
    .contentContainer {
        width: 410px !important;        /* ← nimm die volle Breite */
        margin: 20px 0;     /* ← weniger Abstand oben/unten */
    }

   .comment_card p:last-child{
        font-size: 10px !important;   /* ← etwas kleinere Schrift */
    }
    .comment_card {
        gap: 50px !important;        /* ← weniger Abstand zwischen Name und Kommentar */
    }
    .comments_headline {
        font-size: 20px !important;   /* ← kleinere Überschrift */
    }
.details p {
        flex-direction: column !important;  /* ← Name und Preis untereinander */
        align-items: flex-start !important; /* ← Linksbündig */
    }

    .comment_card strong {
        min-width: 0 !important;     /* ← kein Mindestabstand mehr */
        font-size: 12px;
    }
}